# https://EditorConfig.org
# SPDX-FileCopyrightText: Copyright 2021 M2mobi B.V., Amsterdam, The Netherlands
# SPDX-FileCopyrightText: Copyright 2022 Move Agency Group B.V., Zwolle, The Netherlands
# SPDX-License-Identifier: CC0-1.0

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[{*.php,*.php.sample}]
indent_style = space
indent_size = 4

[*.sh]
indent_style = space
indent_size = 2

[{Jenkinsfile,*.xml,*.json,*.neon.dist}]
indent_style = space
indent_size = 4
