# Files to be ignored by git
*.kdev4
*.swp
*~

# ignore test results
build

# ignore sqlite databases
*.db

# ignore compiled gettext language files
*.mo

# ignore external interactions
src/ApnsPHP
src/Psr
src/Resque
src/PHPMailer
