# SPDX-FileCopyrightText: Copyright 2010 M2mobi B.V., Amsterdam, The Netherlands
# SPDX-FileCopyrightText: Copyright 2022 Move Agency Group B.V., Zwolle, The Netherlands
# SPDX-License-Identifier: CC0-1.0

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [S=40]
RewriteRule ([^/]+)/statics/[.]*$ - [PT]
RewriteRule ([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$ /index.php?controller=$1&method=$2&param1=$3&param2=$4&param3=$5 [QSA,L]
RewriteRule ([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$ /index.php?controller=$1&method=$2&param1=$3&param2=$4 [QSA,L]
RewriteRule ([^/]+)/([^/]+)/([^/]+)/?$ /index.php?controller=$1&method=$2&param1=$3 [QSA,L]
RewriteRule ([^/]+)/([^/]+)/?$ /index.php?controller=$1&method=$2 [QSA,L]
RewriteRule ([^/]+)/?$ /index.php?controller=$1 [QSA,L]
