<?xml version="1.0" encoding="UTF-8"?>

<phpunit    bootstrap="test.bootstrap.inc.php"
            backupGlobals="false"
            backupStaticAttributes="false"
            syntaxCheck="false"
            forceCoversAnnotation="true"
            mapTestClassNameToCoveredClassName="true"
            colors="true">
    <testsuites>
        <testsuite name="Lunr Testsuite">
            <file>tests/system/EnvironmentTest.php</file>
            <file>src/Lunr/Core/Tests/AutoloaderTest.php</file>
            <file>src/Lunr/Core/Tests/DatabaseSessionHandlerBaseTest.php</file>
            <file>src/Lunr/Core/Tests/DateTimeBaseTest.php</file>
            <file>src/Lunr/Core/Tests/DateTimeGetDateTimeTest.php</file>
            <file>src/Lunr/Core/Tests/DateTimeGetDelayedDatetimeTest.php</file>
            <file>src/Lunr/Core/Tests/DateTimeGetDelayedTimestampTest.php</file>
            <file>src/Lunr/Core/Tests/DateTimeTodayTest.php</file>
            <file>src/Lunr/Core/Tests/DateTimeTomorrowTest.php</file>
            <file>src/Lunr/Core/Tests/DateTimeYesterdayTest.php</file>
            <file>src/Lunr/Core/Tests/DateTimeVerifyTest.php</file>
            <file>src/Lunr/Core/Tests/ConfigurationBaseTest.php</file>
            <file>src/Lunr/Core/Tests/ConfigurationConvertArrayToClassTest.php</file>
            <file>src/Lunr/Core/Tests/ConfigurationNonArrayConstructorTest.php</file>
            <file>src/Lunr/Core/Tests/ConfigurationArrayConstructorTest.php</file>
            <file>src/Lunr/Core/Tests/ConfigurationArrayAccessTest.php</file>
            <file>src/Lunr/Core/Tests/ConfigurationLoadFileTest.php</file>
            <file>src/Lunr/Core/Tests/ConfigurationArrayUsageTest.php</file>
            <file>src/Lunr/Core/Tests/LocatorTest.php</file>
            <file>src/Lunr/Core/Tests/VerificationBaseTest.php</file>
            <file>src/Lunr/Core/Tests/VerificationNullPointerTest.php</file>
            <file>src/Lunr/Core/Tests/VerificationChecksTest.php</file>
            <file>src/Lunr/Core/Tests/VerificationSetTest.php</file>
            <file>src/Lunr/Core/Tests/VerificationResultTest.php</file>
            <file>src/Lunr/Core/Tests/RequestBaseTest.php</file>
            <file>src/Lunr/Core/Tests/RequestStoreTest.php</file>
            <file>src/Lunr/Core/Tests/RequestGetTest.php</file>
            <file>src/Lunr/Core/Tests/ResponseTest.php</file>
            <file>src/Lunr/Core/Tests/ConsoleTest.php</file>
            <file>src/Lunr/Fdbk/Tests/PSR3LoggerTest.php</file>
            <file>src/Lunr/Fdbk/Tests/PHPLoggerTest.php</file>
            <file>src/Lunr/Fdbk/Tests/FileLoggerTest.php</file>
            <file>src/Lunr/Core/Tests/ControllerTest.php</file>
            <file>src/Lunr/Core/Tests/ViewBaseTest.php</file>
            <file>src/Lunr/Core/Tests/ViewHelpersTest.php</file>
            <file>src/Lunr/Core/Tests/MailBaseTest.php</file>
            <file>src/Lunr/Core/Tests/MailSetTest.php</file>
            <file>src/Lunr/Core/Tests/MailSendTest.php</file>
            <file>src/Lunr/Core/Tests/SessionTest.php</file>
            <file>src/Lunr/Core/Tests/SessionBaseTest.php</file>
            <file>src/Lunr/L10n/Tests/L10nViewBaseTest.php</file>
            <file>src/Lunr/L10n/Tests/L10nTest.php</file>
            <file>src/Lunr/L10n/Tests/L10nProviderBaseTest.php</file>
            <file>src/Lunr/L10n/Tests/GettextL10nProviderBaseTest.php</file>
            <file>src/Lunr/L10n/Tests/GettextL10nProviderLangTest.php</file>
            <file>src/Lunr/L10n/Tests/GettextL10nProviderNlangTest.php</file>
            <file>src/Lunr/L10n/Tests/PHPL10nProviderBaseTest.php</file>
            <file>src/Lunr/L10n/Tests/PHPL10nProviderLangTest.php</file>
            <file>src/Lunr/L10n/Tests/PHPL10nProviderNlangTest.php</file>
            <file>src/Lunr/Network/Tests/CurlBaseTest.php</file>
            <file>src/Lunr/Network/Tests/CurlSetGetTest.php</file>
            <file>src/Lunr/Network/Tests/CurlExecuteTest.php</file>
            <file>src/Lunr/Network/Tests/CurlRequestTest.php</file>
            <file>src/Lunr/Network/Tests/StreamSocketBaseTest.php</file>
            <file>src/Lunr/Network/Tests/StreamSocketContextTest.php</file>
            <file>src/Lunr/Network/Tests/StreamSocketSetGetTest.php</file>
            <file>src/Lunr/Network/Tests/StreamSocketStateTest.php</file>
            <file>src/Lunr/Network/Tests/StreamSocketClientBaseTest.php</file>
            <file>src/Lunr/Network/Tests/StreamSocketClientFlagsTest.php</file>
            <file>src/Lunr/Network/Tests/StreamSocketClientHandleTest.php</file>
            <file>src/Lunr/Network/Tests/StreamSocketClientReadWriteTest.php</file>
            <file>src/Lunr/DataAccess/Tests/MySQLQueryResultBaseTest.php</file>
            <file>src/Lunr/DataAccess/Tests/MySQLQueryResultFailedTest.php</file>
            <file>src/Lunr/DataAccess/Tests/MySQLQueryResultSuccessTest.php</file>
            <file>src/Lunr/DataAccess/Tests/MySQLQueryResultResultTest.php</file>
            <file>src/Lunr/DataAccess/Tests/MySQLAsyncQueryResultBaseTest.php</file>
            <file>src/Lunr/DataAccess/Tests/MySQLAsyncQueryResultFetchTest.php</file>
            <file>src/Lunr/DataAccess/Tests/class.mysqlasyncqueryresult.free.test.php</file>
            <file>src/Lunr/DataAccess/Tests/DatabaseDMLQueryBuilderBaseTest.php</file>
            <file>src/Lunr/DataAccess/Tests/DatabaseDMLQueryBuilderEscapeTest.php</file>
            <file>src/Lunr/DataAccess/Tests/DatabaseDMLQueryBuilderEscapeValuesTest.php</file>
            <file>src/Lunr/DataAccess/Tests/DatabaseDMLQueryBuilderQueryPartsDeleteTest.php</file>
            <file>src/Lunr/DataAccess/Tests/DatabaseDMLQueryBuilderQueryPartsInsertTest.php</file>
            <file>src/Lunr/DataAccess/Tests/DatabaseDMLQueryBuilderQueryPartsTest.php</file>
            <file>src/Lunr/DataAccess/Tests/MySQLDMLQueryBuilderSelectTest.php</file>
            <file>src/Lunr/DataAccess/Tests/MySQLDMLQueryBuilderDeleteTest.php</file>
            <file>src/Lunr/DataAccess/Tests/MySQLDMLQueryBuilderInsertTest.php</file>
            <file>src/Lunr/DataAccess/Tests/MySQLDMLQueryBuilderLimitTest.php</file>
            <file>src/Lunr/DataAccess/Tests/MySQLDMLQueryBuilderEscapeTest.php</file>
            <file>src/Lunr/DataAccess/Tests/MySQLDMLQueryBuilderConditionTest.php</file>
            <file>src/Lunr/DataAccess/Tests/MySQLDMLQueryBuilderOrderByTest.php</file>
            <file>src/Lunr/DataAccess/Tests/MySQLDMLQueryBuilderGroupByTest.php</file>
            <file>src/Lunr/DataAccess/Tests/DatabaseConnectionTest.php</file>
            <file>src/Lunr/DataAccess/Tests/MySQLConnectionBaseTest.php</file>
            <file>src/Lunr/DataAccess/Tests/MySQLConnectionSetTest.php</file>
            <file>src/Lunr/DataAccess/Tests/MySQLConnectionConnectTest.php</file>
            <file>src/Lunr/DataAccess/Tests/MySQLConnectionQueryTest.php</file>
            <file>src/Lunr/DataAccess/Tests/MySQLConnectionEscapeTest.php</file>
            <file>src/Lunr/DataAccess/Tests/MySQLConnectionTransactionTest.php</file>
            <file>src/Lunr/DataAccess/Tests/DatabaseConnectionPoolBaseTest.php</file>
            <file>src/Lunr/DataAccess/Tests/DatabaseConnectionPoolEmptyTest.php</file>
            <file>src/Lunr/DataAccess/Tests/DatabaseConnectionPoolUnsupportedTest.php</file>
            <file>src/Lunr/DataAccess/Tests/DatabaseConnectionPoolSupportedTest.php</file>
            <file>src/Lunr/DataAccess/Tests/DatabaseConnectionPoolPublicTest.php</file>
            <file>src/Lunr/DataAccess/Tests/DatabaseAccessObjectNoPoolTest.php</file>
            <file>src/Lunr/DataAccess/Tests/DatabaseAccessObjectPoolTest.php</file>
            <file>src/Lunr/DataAccess/Tests/DatabaseAccessObjectResultsTest.php</file>
            <file>src/Lunr/Spwn/Tests/ResqueJobDispatcherTest.php</file>
<!--            <file>src/Lunr/Database/Tests/DBManTest.php</file>
            <file>src/Lunr/Database/Tests/DBConTest.php</file>-->
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../src/Lunr/</directory>
            <exclude>
                <file>../src/Lunr/Database/MySQLndQueryLogger.php</file>
                <directory>../src/Lunr/Core/Tests/</directory>
                <directory>../src/Lunr/DataAccess/Tests/</directory>
                <directory>../src/Lunr/Database/Tests/</directory>
                <directory>../src/Lunr/Fdbk/Tests/</directory>
                <directory>../src/Lunr/L10n/Tests/</directory>
                <directory>../src/Lunr/Network/Tests/</directory>
                <directory>../src/Lunr/Sprk/Tests/</directory>
                <directory>../src/Lunr/Spwn/Tests/</directory>
                <directory>../src/Lunr/Tcks/Tests/</directory>
                <directory>../src/Lunr/Web/Tests/</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log    type="coverage-html"
                target="../build/coverage"
                title="Lunr"
                charset="UTF-8"
                yui="true"
                highlight="true"
                lowUpperBound="35"
                highLowerBound="70"/>
        <log    type="coverage-clover"
                target="../build/logs/clover.xml"/>
        <log    type="junit"
                target="../build/logs/junit.xml"
                logIncompleteSkipped="false"/>
    </logging>
</phpunit>
