<?xml version="1.0" encoding="UTF-8"?>

<phpunit    bootstrap="test.bootstrap.inc.php"
            backupGlobals="false"
            backupStaticAttributes="false"
            syntaxCheck="false"
            forceCoversAnnotation="true"
            mapTestClassNameToCoveredClassName="true"
            colors="true"
            verbose="true">
    <php>
        <ini name="zend.enable_gc" value="0" />
    </php>
    <testsuites>
        <testsuite name="Core">
            <file>src/Lunr/Core/Tests/AutoloaderTest.php</file>
            <file>src/Lunr/Core/Tests/DateTimeBaseTest.php</file>
            <file>src/Lunr/Core/Tests/DateTimeGetDateTimeTest.php</file>
            <file>src/Lunr/Core/Tests/DateTimeGetDelayedDatetimeTest.php</file>
            <file>src/Lunr/Core/Tests/DateTimeGetDelayedTimestampTest.php</file>
            <file>src/Lunr/Core/Tests/DateTimeTodayTest.php</file>
            <file>src/Lunr/Core/Tests/DateTimeTomorrowTest.php</file>
            <file>src/Lunr/Core/Tests/DateTimeYesterdayTest.php</file>
            <file>src/Lunr/Core/Tests/DateTimeVerifyTest.php</file>
            <file>src/Lunr/Core/Tests/ConfigurationBaseTest.php</file>
            <file>src/Lunr/Core/Tests/ConfigurationConvertArrayToClassTest.php</file>
            <file>src/Lunr/Core/Tests/ConfigurationNonArrayConstructorTest.php</file>
            <file>src/Lunr/Core/Tests/ConfigurationArrayConstructorTest.php</file>
            <file>src/Lunr/Core/Tests/ConfigurationArrayAccessTest.php</file>
            <file>src/Lunr/Core/Tests/ConfigurationLoadFileTest.php</file>
            <file>src/Lunr/Core/Tests/ConfigurationArrayUsageTest.php</file>
            <file>src/Lunr/Core/Tests/ClosureServiceLocatorTest.php</file>
            <file>src/Lunr/Core/Tests/ConfigServiceLocatorBaseTest.php</file>
            <file>src/Lunr/Core/Tests/ConfigServiceLocatorSupportTest.php</file>
            <file>src/Lunr/Core/Tests/ConfigServiceLocatorGetInstanceTest.php</file>
            <file>src/Lunr/Core/Tests/ConfigServiceLocatorLocateTest.php</file>
        </testsuite>
        <testsuite name="Corona">
            <file>src/Lunr/Corona/Tests/ControllerBaseTest.php</file>
            <file>src/Lunr/Corona/Tests/ControllerResultTest.php</file>
            <file>src/Lunr/Corona/Tests/FrontControllerBaseTest.php</file>
            <file>src/Lunr/Corona/Tests/FrontControllerGetTest.php</file>
            <file>src/Lunr/Corona/Tests/FrontControllerDispatchTest.php</file>
            <file>src/Lunr/Corona/Tests/InterRequestTest.php</file>
            <file>src/Lunr/Corona/Tests/RequestBaseTest.php</file>
            <file>src/Lunr/Corona/Tests/RequestStoreCookieTest.php</file>
            <file>src/Lunr/Corona/Tests/RequestStoreGetTest.php</file>
            <file>src/Lunr/Corona/Tests/RequestStoreFilesTest.php</file>
            <file>src/Lunr/Corona/Tests/RequestStorePostTest.php</file>
            <file>src/Lunr/Corona/Tests/RequestStoreUrlTest.php</file>
            <file>src/Lunr/Corona/Tests/RequestGetTest.php</file>
            <file>src/Lunr/Corona/Tests/RequestRunkitTest.php</file>
            <file>src/Lunr/Corona/Tests/ResponseBaseTest.php</file>
            <file>src/Lunr/Corona/Tests/ResponseGetTest.php</file>
            <file>src/Lunr/Corona/Tests/ResponseSetTest.php</file>
            <file>src/Lunr/Corona/Tests/ViewBaseTest.php</file>
            <file>src/Lunr/Corona/Tests/ViewHelpersTest.php</file>
            <file>src/Lunr/Corona/Tests/HTMLViewBaseTest.php</file>
            <file>src/Lunr/Corona/Tests/HTMLViewHelpersTest.php</file>
            <file>src/Lunr/Corona/Tests/JsonViewBaseTest.php</file>
            <file>src/Lunr/Corona/Tests/JsonViewPrintTest.php</file>
            <file>src/Lunr/Corona/Tests/JsonViewPrintFatalErrorTest.php</file>
        </testsuite>
        <testsuite name="Feedback">
            <file>src/Lunr/Feedback/Tests/PSR3LoggerTest.php</file>
            <file>src/Lunr/Feedback/Tests/PHPLoggerTest.php</file>
            <file>src/Lunr/Feedback/Tests/FileLoggerTest.php</file>
        </testsuite>
        <testsuite name="Flare">
            <file>src/Lunr/Flare/Tests/VerificationBaseTest.php</file>
            <file>src/Lunr/Flare/Tests/VerificationNullPointerTest.php</file>
            <file>src/Lunr/Flare/Tests/VerificationChecksTest.php</file>
            <file>src/Lunr/Flare/Tests/VerificationSetTest.php</file>
            <file>src/Lunr/Flare/Tests/VerificationResultTest.php</file>
        </testsuite>
        <testsuite name="Gravity">
            <file>src/Lunr/Gravity/Database/Tests/DatabaseQueryEscaperBaseTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/DatabaseQueryEscaperEscapeTest.php</file>
            <file>src/Lunr/Gravity/Database/MySQL/Tests/MySQLQueryEscaperEscapeTest.php</file>
            <file>src/Lunr/Gravity/Database/SQLite3/Tests/SQLite3QueryEscaperEscapeTest.php</file>
            <file>src/Lunr/Gravity/Database/MySQL/Tests/MySQLQueryResultBaseTest.php</file>
            <file>src/Lunr/Gravity/Database/MySQL/Tests/MySQLQueryResultFailedTest.php</file>
            <file>src/Lunr/Gravity/Database/MySQL/Tests/MySQLQueryResultSuccessTest.php</file>
            <file>src/Lunr/Gravity/Database/MySQL/Tests/MySQLQueryResultResultTest.php</file>
            <file>src/Lunr/Gravity/Database/MySQL/Tests/MySQLAsyncQueryResultBaseTest.php</file>
            <file>src/Lunr/Gravity/Database/MySQL/Tests/MySQLAsyncQueryResultFetchTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/DatabaseDMLQueryBuilderBaseTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/DatabaseDMLQueryBuilderImplodeQueryTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/DatabaseDMLQueryBuilderGetSelectQueryTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/DatabaseDMLQueryBuilderGetDeleteQueryTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/DatabaseDMLQueryBuilderGetInsertQueryTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/DatabaseDMLQueryBuilderGetReplaceQueryTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/DatabaseDMLQueryBuilderGetUpdateQueryTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/DatabaseDMLQueryBuilderQueryPartsTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/DatabaseDMLQueryBuilderQueryPartsFromTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/DatabaseDMLQueryBuilderQueryPartsJoinTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/DatabaseDMLQueryBuilderQueryPartsConditionTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/DatabaseDMLQueryBuilderQueryPartsDeleteTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/DatabaseDMLQueryBuilderQueryPartsInsertTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/DatabaseDMLQueryBuilderQueryPartsUpdateTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/SQLDMLQueryBuilderSelectTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/SQLDMLQueryBuilderInsertTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/SQLDMLQueryBuilderUpdateTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/SQLDMLQueryBuilderDeleteTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/SQLDMLQueryBuilderConditionTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/SQLDMLQueryBuilderOrderByTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/SQLDMLQueryBuilderLimitTest.php</file>
            <file>src/Lunr/Gravity/Database/MySQL/Tests/MySQLDMLQueryBuilderSelectTest.php</file>
            <file>src/Lunr/Gravity/Database/MySQL/Tests/MySQLDMLQueryBuilderDeleteTest.php</file>
            <file>src/Lunr/Gravity/Database/MySQL/Tests/MySQLDMLQueryBuilderInsertTest.php</file>
            <file>src/Lunr/Gravity/Database/MySQL/Tests/MySQLDMLQueryBuilderUpdateTest.php</file>
            <file>src/Lunr/Gravity/Database/MySQL/Tests/MySQLDMLQueryBuilderConditionTest.php</file>
            <file>src/Lunr/Gravity/Database/MySQL/Tests/MySQLDMLQueryBuilderGroupByTest.php</file>
            <file>src/Lunr/Gravity/Database/MySQL/Tests/MySQLSimpleDMLQueryBuilderBaseTest.php</file>
            <file>src/Lunr/Gravity/Database/MySQL/Tests/MySQLSimpleDMLQueryBuilderConditionalTest.php</file>
            <file>src/Lunr/Gravity/Database/MySQL/Tests/MySQLSimpleDMLQueryBuilderSelectTest.php</file>
            <file>src/Lunr/Gravity/Database/MySQL/Tests/MySQLSimpleDMLQueryBuilderFluidInterfaceTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/DatabaseConnectionTest.php</file>
            <file>src/Lunr/Gravity/Database/MySQL/Tests/MySQLConnectionBaseTest.php</file>
            <file>src/Lunr/Gravity/Database/MySQL/Tests/MySQLConnectionSetTest.php</file>
            <file>src/Lunr/Gravity/Database/MySQL/Tests/MySQLConnectionConnectTest.php</file>
            <file>src/Lunr/Gravity/Database/MySQL/Tests/MySQLConnectionQueryTest.php</file>
            <file>src/Lunr/Gravity/Database/MySQL/Tests/MySQLConnectionEscapeTest.php</file>
            <file>src/Lunr/Gravity/Database/MySQL/Tests/MySQLConnectionTransactionTest.php</file>
            <file>src/Lunr/Gravity/Database/MySQL/Tests/MySQLConnectionMasterSlaveTest.php</file>
            <file>src/Lunr/Gravity/Database/SQLite3/Tests/LunrSQLite3Test.php</file>
            <file>src/Lunr/Gravity/Database/SQLite3/Tests/SQLite3ConnectionBaseTest.php</file>
            <file>src/Lunr/Gravity/Database/SQLite3/Tests/SQLite3ConnectionSetTest.php</file>
            <file>src/Lunr/Gravity/Database/SQLite3/Tests/SQLite3ConnectionConnectTest.php</file>
            <file>src/Lunr/Gravity/Database/SQLite3/Tests/SQLite3ConnectionEscapeTest.php</file>
            <file>src/Lunr/Gravity/Database/SQLite3/Tests/SQLite3ConnectionTransactionTest.php</file>
            <file>src/Lunr/Gravity/Database/SQLite3/Tests/SQLite3DMLQueryBuilderConditionTest.php</file>
            <file>src/Lunr/Gravity/Database/SQLite3/Tests/SQLite3DMLQueryBuilderGroupByTest.php</file>
            <file>src/Lunr/Gravity/Database/SQLite3/Tests/SQLite3DMLQueryBuilderSelectTest.php</file>
            <file>src/Lunr/Gravity/Database/SQLite3/Tests/SQLite3DMLQueryBuilderDeleteTest.php</file>
            <file>src/Lunr/Gravity/Database/SQLite3/Tests/SQLite3DMLQueryBuilderInsertTest.php</file>
            <file>src/Lunr/Gravity/Database/SQLite3/Tests/SQLite3DMLQueryBuilderQueryTest.php</file>
            <file>src/Lunr/Gravity/Database/SQLite3/Tests/SQLite3DMLQueryBuilderUpdateTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/DatabaseConnectionPoolBaseTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/DatabaseConnectionPoolEmptyTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/DatabaseConnectionPoolUnsupportedTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/DatabaseConnectionPoolSupportedTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/DatabaseConnectionPoolPublicTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/DatabaseAccessObjectNoPoolTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/DatabaseAccessObjectPoolTest.php</file>
            <file>src/Lunr/Gravity/Database/Tests/DatabaseAccessObjectResultsTest.php</file>
            <file>src/Lunr/Gravity/Filesystem/Tests/PhysicalFilesystemAccessObjectBaseTest.php</file>
            <file>src/Lunr/Gravity/Filesystem/Tests/PhysicalFilesystemAccessObjectFileTest.php</file>
            <file>src/Lunr/Gravity/Filesystem/Tests/PhysicalFilesystemAccessObjectListDirectoriesTest.php</file>
            <file>src/Lunr/Gravity/Filesystem/Tests/PhysicalFilesystemAccessObjectListFilesTest.php</file>
            <file>src/Lunr/Gravity/Filesystem/Tests/PhysicalFilesystemAccessObjectDirectoryTest.php</file>
            <file>src/Lunr/Gravity/Filesystem/Tests/PhysicalFilesystemAccessObjectFindTest.php</file>
        </testsuite>
        <testsuite name="L10n">
            <file>tests/system/EnvironmentTest.php</file>
            <file>src/Lunr/L10n/Tests/L10nHTMLViewBaseTest.php</file>
            <file>src/Lunr/L10n/Tests/L10nTraitBaseTest.php</file>
            <file>src/Lunr/L10n/Tests/L10nBaseTest.php</file>
            <file>src/Lunr/L10n/Tests/L10nProviderBaseTest.php</file>
            <file>src/Lunr/L10n/Tests/GettextL10nProviderBaseTest.php</file>
            <file>src/Lunr/L10n/Tests/GettextL10nProviderLangTest.php</file>
            <file>src/Lunr/L10n/Tests/GettextL10nProviderNlangTest.php</file>
            <file>src/Lunr/L10n/Tests/PHPL10nProviderBaseTest.php</file>
            <file>src/Lunr/L10n/Tests/PHPL10nProviderLangTest.php</file>
            <file>src/Lunr/L10n/Tests/PHPL10nProviderNlangTest.php</file>
        </testsuite>
        <testsuite name="Network">
            <file>src/Lunr/Network/Tests/NetworkErrorTraitTest.php</file>
            <file>src/Lunr/Network/Tests/CurlBaseTest.php</file>
            <file>src/Lunr/Network/Tests/CurlSetGetTest.php</file>
            <file>src/Lunr/Network/Tests/CurlExecuteTest.php</file>
            <file>src/Lunr/Network/Tests/CurlRequestTest.php</file>
            <file>src/Lunr/Network/Tests/CurlResponseBaseTest.php</file>
            <file>src/Lunr/Network/Tests/CurlResponseSuccessTest.php</file>
            <file>src/Lunr/Network/Tests/StreamSocketBaseTest.php</file>
            <file>src/Lunr/Network/Tests/StreamSocketContextTest.php</file>
            <file>src/Lunr/Network/Tests/StreamSocketSetGetTest.php</file>
            <file>src/Lunr/Network/Tests/StreamSocketStateTest.php</file>
            <file>src/Lunr/Network/Tests/StreamSocketClientBaseTest.php</file>
            <file>src/Lunr/Network/Tests/StreamSocketClientFlagsTest.php</file>
            <file>src/Lunr/Network/Tests/StreamSocketClientHandleTest.php</file>
            <file>src/Lunr/Network/Tests/StreamSocketClientReadWriteTest.php</file>
            <file>src/Lunr/Network/Tests/MailBaseTest.php</file>
            <file>src/Lunr/Network/Tests/MailSetTest.php</file>
            <file>src/Lunr/Network/Tests/MailSendTest.php</file>
        </testsuite>
        <testsuite name="Shadow">
            <file>src/Lunr/Shadow/Tests/ConsoleTest.php</file>
            <file>src/Lunr/Shadow/Tests/LunrCliParserBaseTest.php</file>
            <file>src/Lunr/Shadow/Tests/LunrCliParserCheckArgumentTest.php</file>
            <file>src/Lunr/Shadow/Tests/LunrCliParserCheckObligatoryArgumentTest.php</file>
            <file>src/Lunr/Shadow/Tests/LunrCliParserCheckOptionalArgumentTest.php</file>
            <file>src/Lunr/Shadow/Tests/LunrCliParserValidShortTest.php</file>
            <file>src/Lunr/Shadow/Tests/LunrCliParserValidLongTest.php</file>
            <file>src/Lunr/Shadow/Tests/LunrCliParserIsOptTest.php</file>
            <file>src/Lunr/Shadow/Tests/LunrCliParserParseTest.php</file>
            <file>src/Lunr/Shadow/Tests/GetoptCliParserBaseTest.php</file>
            <file>src/Lunr/Shadow/Tests/GetoptCliParserParseTest.php</file>
            <file>src/Lunr/Shadow/Tests/CliRequestBaseTest.php</file>
            <file>src/Lunr/Shadow/Tests/CliRequestGetTest.php</file>
            <file>src/Lunr/Shadow/Tests/CliRequestStoreRequestTest.php</file>
        </testsuite>
        <testsuite name="Spark">
            <file>src/Lunr/Spark/Tests/CentralAuthenticationStoreBaseTest.php</file>
            <file>src/Lunr/Spark/Facebook/Tests/ApiBaseTest.php</file>
            <file>src/Lunr/Spark/Facebook/Tests/ApiGetUrlResultsTest.php</file>
            <file>src/Lunr/Spark/Facebook/Tests/ApiGetJsonResultsTest.php</file>
            <file>src/Lunr/Spark/Facebook/Tests/ApiFetchDataTest.php</file>
            <file>src/Lunr/Spark/Facebook/Tests/AuthenticationBaseTest.php</file>
            <file>src/Lunr/Spark/Facebook/Tests/AuthenticationGetSetTest.php</file>
            <file>src/Lunr/Spark/Facebook/Tests/AuthenticationApiTest.php</file>
            <file>src/Lunr/Spark/Facebook/Tests/AuthenticationGetTemporaryTokenTest.php</file>
            <file>src/Lunr/Spark/Facebook/Tests/AuthenticationGetAppTokenTest.php</file>
            <file>src/Lunr/Spark/Facebook/Tests/UserBaseTest.php</file>
            <file>src/Lunr/Spark/Facebook/Tests/UserPermissionsTest.php</file>
            <file>src/Lunr/Spark/Facebook/Tests/UserProfileBaseTest.php</file>
            <file>src/Lunr/Spark/Facebook/Tests/UserProfileGetDataTest.php</file>
            <file>src/Lunr/Spark/Facebook/Tests/UserProfileGetProfileDataTest.php</file>
            <file>src/Lunr/Spark/Facebook/Tests/PageBaseTest.php</file>
            <file>src/Lunr/Spark/Facebook/Tests/PageGetDataTest.php</file>
            <file>src/Lunr/Spark/Facebook/Tests/PageGetPageDataTest.php</file>
            <file>src/Lunr/Spark/Facebook/Tests/PostBaseTest.php</file>
            <file>src/Lunr/Spark/Facebook/Tests/PostSetDataTest.php</file>
            <file>src/Lunr/Spark/Facebook/Tests/PostGetPostDataTest.php</file>
            <file>src/Lunr/Spark/Facebook/Tests/FeedBaseTest.php</file>
            <file>src/Lunr/Spark/Facebook/Tests/FeedClassifyTest.php</file>
            <file>src/Lunr/Spark/Facebook/Tests/FeedGetDataTest.php</file>
            <file>src/Lunr/Spark/Facebook/Tests/FeedGetNextDataTest.php</file>
            <file>src/Lunr/Spark/Facebook/Tests/FeedGetPreviousDataTest.php</file>
            <file>src/Lunr/Spark/Twitter/Tests/ApiBaseTest.php</file>
            <file>src/Lunr/Spark/Twitter/Tests/ApiGetJsonResultsTest.php</file>
            <file>src/Lunr/Spark/Twitter/Tests/AuthenticationApiTest.php</file>
            <file>src/Lunr/Spark/Twitter/Tests/AuthenticationBaseTest.php</file>
            <file>src/Lunr/Spark/Twitter/Tests/SearchApiTest.php</file>
            <file>src/Lunr/Spark/Twitter/Tests/SearchBaseTest.php</file>
            <file>src/Lunr/Spark/Twitter/Tests/TweetBaseTest.php</file>
            <file>src/Lunr/Spark/Twitter/Tests/TweetGetTweetDataTest.php</file>
        </testsuite>
        <testsuite name="Spawn">
            <file>src/Lunr/Spawn/Tests/ResqueJobDispatcherBaseTest.php</file>
            <file>src/Lunr/Spawn/Tests/ResqueRequestBaseTest.php</file>
            <file>src/Lunr/Spawn/Tests/ResqueRequestRunkitTest.php</file>
        </testsuite>
        <testsuite name="Sphere">
            <file>src/Lunr/Sphere/Tests/SessionBaseTest.php</file>
            <file>src/Lunr/Sphere/Tests/DatabaseSessionHandlerBaseTest.php</file>
            <file>src/Lunr/Sphere/Tests/SessionDAOBaseTest.php</file>
        </testsuite>
        <testsuite name="Surface">
            <file>src/Lunr/Surface/Tests/PaginationNoCursorTest.php</file>
            <file>src/Lunr/Surface/Tests/PaginationSettersTest.php</file>
            <file>src/Lunr/Surface/Tests/PaginationHTMLTest.php</file>
        </testsuite>
        <testsuite name="Ticks">
            <file>src/Lunr/Ticks/Tests/FileTimerRequestTest.php</file>
            <file>src/Lunr/Ticks/Tests/FileTimerNoRequestTest.php</file>
            <file>src/Lunr/Ticks/Tests/FileTimerStartTest.php</file>
            <file>src/Lunr/Ticks/Tests/FileTimerStopTest.php</file>
        </testsuite>
        <testsuite name="Vortex">
            <file>src/Lunr/Vortex/GCM/Tests/GCMDispatcherBaseTest.php</file>
            <file>src/Lunr/Vortex/GCM/Tests/GCMDispatcherPushTest.php</file>
            <file>src/Lunr/Vortex/GCM/Tests/GCMDispatcherSetTest.php</file>
            <file>src/Lunr/Vortex/GCM/Tests/GCMDispatcherTest.php</file>
            <file>src/Lunr/Vortex/GCM/Tests/GCMPayloadBaseTest.php</file>
            <file>src/Lunr/Vortex/GCM/Tests/GCMPayloadGetTest.php</file>
            <file>src/Lunr/Vortex/GCM/Tests/GCMPayloadSetTest.php</file>
            <file>src/Lunr/Vortex/GCM/Tests/GCMResponseErrorTest.php</file>
            <file>src/Lunr/Vortex/GCM/Tests/GCMResponseSetTest.php</file>
            <file>src/Lunr/Vortex/GCM/Tests/GCMResponseSuccessTest.php</file>
            <file>src/Lunr/Vortex/MPNS/Tests/MPNSPayloadTest.php</file>
            <file>src/Lunr/Vortex/MPNS/Tests/MPNSToastPayloadSetTest.php</file>
            <file>src/Lunr/Vortex/MPNS/Tests/MPNSToastPayloadGetTest.php</file>
            <file>src/Lunr/Vortex/MPNS/Tests/MPNSTilePayloadSetTest.php</file>
            <file>src/Lunr/Vortex/MPNS/Tests/MPNSTilePayloadGetTest.php</file>
            <file>src/Lunr/Vortex/MPNS/Tests/MPNSResponseErrorTest.php</file>
            <file>src/Lunr/Vortex/MPNS/Tests/MPNSResponseSuccessTest.php</file>
            <file>src/Lunr/Vortex/MPNS/Tests/MPNSResponseSetTest.php</file>
            <file>src/Lunr/Vortex/MPNS/Tests/MPNSDispatcherBaseTest.php</file>
            <file>src/Lunr/Vortex/MPNS/Tests/MPNSDispatcherSetTest.php</file>
            <file>src/Lunr/Vortex/MPNS/Tests/MPNSDispatcherPushTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../src/Lunr/</directory>
            <exclude>
                <directory>../src/Lunr/Halo/</directory>
                <directory>../src/Lunr/Core/Tests/</directory>
                <directory>../src/Lunr/Corona/Tests/</directory>
                <directory>../src/Lunr/Feedback/Tests/</directory>
                <directory>../src/Lunr/Flare/Tests/</directory>
                <directory>../src/Lunr/Gravity/Tests/</directory>
                <directory>../src/Lunr/Gravity/Database/Tests/</directory>
                <directory>../src/Lunr/Gravity/Database/MySQL/Tests/</directory>
                <directory>../src/Lunr/Gravity/Database/SQLite3/Tests/</directory>
                <directory>../src/Lunr/Gravity/Filesystem/Tests/</directory>
                <directory>../src/Lunr/L10n/Tests/</directory>
                <directory>../src/Lunr/Network/Tests/</directory>
                <directory>../src/Lunr/Shadow/Tests/</directory>
                <directory>../src/Lunr/Spark/Tests/</directory>
                <directory>../src/Lunr/Spark/Facebook/Tests/</directory>
                <directory>../src/Lunr/Spark/Twitter/Tests/</directory>
                <directory>../src/Lunr/Spawn/Tests/</directory>
                <directory>../src/Lunr/Sphere/Tests/</directory>
                <directory>../src/Lunr/Surface/Tests/</directory>
                <directory>../src/Lunr/Ticks/Tests/</directory>
                <directory>../src/Lunr/Vortex/Tests/</directory>
                <directory>../src/Lunr/Vortex/GCM/Tests/</directory>
                <directory>../src/Lunr/Vortex/MPNS/Tests/</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log    type="coverage-html"
                target="../build/coverage"
                title="Lunr"
                charset="UTF-8"
                yui="true"
                highlight="true"
                lowUpperBound="35"
                highLowerBound="70"/>
        <log    type="coverage-clover"
                target="../build/logs/clover.xml"/>
        <log    type="junit"
                target="../build/logs/junit.xml"
                logIncompleteSkipped="false"/>
    </logging>
</phpunit>
