<?xml version="1.0" encoding="UTF-8"?>

<phpunit    bootstrap="test.bootstrap.inc.php"
            backupGlobals="false"
            backupStaticAttributes="false"
            syntaxCheck="false"
            forceCoversAnnotation="true"
            mapTestClassNameToCoveredClassName="true"
            colors="true">
    <testsuites>
        <testsuite name="Lunr Testsuite">
            <file>tests/system/class.environment.test.php</file>
            <file>tests/system/libraries/core/class.autoloader.test.php</file>
            <file>tests/system/libraries/core/class.datetime.base.test.php</file>
            <file>tests/system/libraries/core/class.datetime.getdatetime.test.php</file>
            <file>tests/system/libraries/core/class.datetime.getdelayeddatetime.test.php</file>
            <file>tests/system/libraries/core/class.datetime.getdelayedtimestamp.test.php</file>
            <file>tests/system/libraries/core/class.datetime.today.test.php</file>
            <file>tests/system/libraries/core/class.datetime.tomorrow.test.php</file>
            <file>tests/system/libraries/core/class.datetime.yesterday.test.php</file>
            <file>tests/system/libraries/core/class.datetime.verify.test.php</file>
            <file>tests/system/libraries/core/class.configuration.base.test.php</file>
            <file>tests/system/libraries/core/class.configuration.convertarraytoclass.test.php</file>
            <file>tests/system/libraries/core/class.configuration.nonarrayconstructor.test.php</file>
            <file>tests/system/libraries/core/class.configuration.arrayconstructor.test.php</file>
            <file>tests/system/libraries/core/class.configuration.arrayaccess.test.php</file>
            <file>tests/system/libraries/core/class.configuration.loadfile.test.php</file>
            <file>tests/system/libraries/core/class.configuration.arrayusage.test.php</file>
            <file>tests/system/libraries/core/class.verification.base.test.php</file>
            <file>tests/system/libraries/core/class.verification.nullpointer.test.php</file>
            <file>tests/system/libraries/core/class.verification.checks.test.php</file>
            <file>tests/system/libraries/core/class.verification.set.test.php</file>
            <file>tests/system/libraries/core/class.verification.result.test.php</file>
            <file>tests/system/libraries/core/class.request.base.test.php</file>
            <file>tests/system/libraries/core/class.request.store.test.php</file>
            <file>tests/system/libraries/core/class.request.get.test.php</file>
            <file>tests/system/libraries/core/class.response.test.php</file>
            <file>tests/system/libraries/core/class.console.test.php</file>
            <file>tests/system/libraries/core/class.logger.test.php</file>
            <file>tests/system/libraries/core/class.controller.test.php</file>
            <file>tests/system/libraries/core/class.view.l10n.test.php</file>
            <file>tests/system/libraries/core/class.view.nol10n.test.php</file>
            <file>tests/system/libraries/core/class.view.helpers.test.php</file>
            <file>tests/system/libraries/core/class.mail.base.test.php</file>
            <file>tests/system/libraries/core/class.mail.set.test.php</file>
            <file>tests/system/libraries/core/class.mail.send.test.php</file>
            <file>tests/system/libraries/l10n/class.l10n.test.php</file>
            <file>tests/system/libraries/l10n/class.l10nprovider.test.php</file>
            <file>tests/system/libraries/l10n/class.gettextl10nprovider.base.test.php</file>
            <file>tests/system/libraries/l10n/class.gettextl10nprovider.lang.test.php</file>
            <file>tests/system/libraries/l10n/class.gettextl10nprovider.nlang.test.php</file>
            <file>tests/system/libraries/l10n/class.phpl10nprovider.base.test.php</file>
            <file>tests/system/libraries/l10n/class.phpl10nprovider.lang.test.php</file>
            <file>tests/system/libraries/l10n/class.phpl10nprovider.nlang.test.php</file>
            <file>tests/system/libraries/network/class.curl.base.test.php</file>
            <file>tests/system/libraries/network/class.curl.setget.test.php</file>
            <file>tests/system/libraries/network/class.curl.execute.test.php</file>
            <file>tests/system/libraries/network/class.curl.request.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqlqueryresult.base.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqlqueryresult.failed.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqlqueryresult.success.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqlqueryresult.result.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqlasyncqueryresult.base.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqlasyncqueryresult.fetch.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqlasyncqueryresult.free.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databasedmlquerybuilder.base.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databasedmlquerybuilder.escape.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databasedmlquerybuilder.escapevalues.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databasedmlquerybuilder.queryparts.delete.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databasedmlquerybuilder.queryparts.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqldmlquerybuilder.select.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqldmlquerybuilder.delete.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqldmlquerybuilder.limit.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqldmlquerybuilder.escape.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqldmlquerybuilder.condition.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqldmlquerybuilder.orderby.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqldmlquerybuilder.groupby.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databaseconnection.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqlconnection.base.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqlconnection.set.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqlconnection.connect.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqlconnection.query.test.php</file>
            <file>tests/system/libraries/dataaccess/class.mysqlconnection.escape.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databaseconnectionpool.base.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databaseconnectionpool.empty.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databaseconnectionpool.unsupported.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databaseconnectionpool.supported.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databaseconnectionpool.public.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databaseaccessobject.nopool.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databaseaccessobject.pool.test.php</file>
            <file>tests/system/libraries/dataaccess/class.databaseaccessobject.results.test.php</file>
<!--            <file>tests/system/libraries/db/class.dbman.test.php</file>
            <file>tests/system/libraries/db/class.dbcon.test.php</file>-->
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../system/libraries/</directory>
            <directory>../system/models/</directory>
            <exclude>
                <file>../system/libraries/database/class.mysqlndquerylogger.inc.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log    type="coverage-html"
                target="../build/coverage"
                title="Lunr"
                charset="UTF-8"
                yui="true"
                highlight="true"
                lowUpperBound="35"
                highLowerBound="70"/>
        <log    type="coverage-clover"
                target="../build/logs/clover.xml"/>
        <log    type="junit"
                target="../build/logs/junit.xml"
                logIncompleteSkipped="false"/>
    </logging>
</phpunit>
