<?php

/**
 * MySQL/MariaDB Constant Definitions
 *
 * PHP Version 5.3
 *
 * @category   Config
 * @package    Database
 * @subpackage Config
 * @author     Heinz Wiesinger <heinz@m2mobi.com>
 * @copyright  2010-2014, M2Mobi BV, Amsterdam, The Netherlands
 * @license    http://lunr.nl/LICENSE MIT License
 */

/**
 * Error: Duplicate Primary Key
 */
define('MYSQL_DUPLICATE_PRIMARY_KEY', 1062);

/**
 * Error: Foreign key constraint failed
 */
define('MYSQL_FOREIGN_KEY_CONTRAINT_FAILED', 1216);

?>
