<?php

/**
 * Basic Framework Configuration
 * This config file contains Framework relevant config keys.
 *
 * PHP Version 5.3
 *
 * @category   Config
 * @package    Core
 * @subpackage Config
 * @author     Heinz Wiesinger <heinz@m2mobi.com>
 * @copyright  2011-2014, M2Mobi BV, Amsterdam, The Netherlands
 * @license    http://lunr.nl/LICENSE MIT License
 */

/**
 * Version of the Lunr Framework to use
 * @global $config['lunr']['version']
 */
$config['lunr']['version'] = "0.1";

/**
 * Array of path definitions
 * @global Array $config['path']
 */
$config['path'] = array();

/**
 * Path to the Lunr Framework Code
 * @global String $config['path']['system']
 */
$config['path']['system'] = '/usr/local/share/Lunr-' . $config['lunr']['version'];

/**
 * Scripts controller lookup path
 * @global String $config['path']['controllers']
 */
$config['path']['controllers'] = 'application/controllers/';

/**
 * Whether to enforce the defined protocol for each call
 * (where defined) or not.
 * @global Boolean $config['protocol_enforce']
 */
$config['protocol_enforce'] = FALSE;

/**
 * Whether to collect SQL query statistics or not.
 * @global Boolean $config['query_stats']
 */
$config['query_stats'] = FALSE;

/**
 * Default protocol for web queries
 * @global String $config['default_protocol']
 */
$config['default_protocol'] = 'http';

/**
 * Default URL for web queries
 * @global String $config['default_url']
 */
$config['default_url'] = 'http://www.example.org/';

/**
 * Default sub-path for web queries
 * @global String $config['default_webpath']
 */
$config['default_webpath'] = '/';

/**
 * Load local configuration value adjustments, if they exist
 */
$local_lunr_conf = dirname(__FILE__) . '/conf.lunr.local.inc.php';

if (file_exists($local_lunr_conf))
{
    include_once $local_lunr_conf;
}

?>
