<?php

/**
 * ncurses Constant Definitions
 *
 * PHP Version 5.3
 *
 * @category   Config
 * @package    CLI
 * @subpackage Config
 * @author     Heinz Wiesinger <heinz@m2mobi.com>
 * @copyright  2010-2014, M2Mobi BV, Amsterdam, The Netherlands
 * @license    http://lunr.nl/LICENSE MIT License
 */

/**
 * key 'Esc'
 */
define('NCURSES_KEY_ESCAPE', 27);

/**
 * key 'Q'
 */
define('NCURSES_KEY_Q', 113);

/**
 * Carriage return character
 */
define('NCURSES_KEY_CR', 13);

/**
 * Line feed character
 */
define('NCURSES_KEY_LF', 10);

/**
 * key 'tab'
 */
define('NCURSES_KEY_TAB', 9);

/**
 * key 'backspace'
 */
define('NCURSES_KEY_BS', 127);

?>
