<?php

/**
 * This file contains Android Push Notification Service configuration
 * values.
 *
 * PHP Version 5.3
 *
 * @category   Config
 * @package    Core
 * @subpackage Config
 * @author     Jose viso <jose@m2mobi.com>
 * @copyright  2011-2013, M2Mobi BV, Amsterdam, The Netherlands
 * @license    http://lunr.nl/LICENSE MIT License
 */

/**
 * Android Push Notification Service Settings
 * @global array $config['c2dm']
 */
$config['c2dm'] = array();

/**
 * URL for request authorization token
 * @global String $config['c2dm']['request_token_url']
 */
$config['c2dm']['request_token_url'] = 'https://www.google.com/accounts/ClientLogin';

/**
 * Account type.
 * Possible options are:
 * <ul>
 * <li>GOOGLE</li>
 * <li>HOSTED</li>
 * <li>HOSTED_OR_GOOGLE</li>
 * </ul>
 * @global String $config['c2dm']['account_type']
 */
$config['c2dm']['account_type'] = 'HOSTED_OR_GOOGLE';

/**
 * Google servers URL for sending the push notification to the device
 * @global String $config['c2dm']['google_send_url']
 */
$config['c2dm']['google_send_url'] = 'https://android.apis.google.com/c2dm/send';

/**
 * Collapse key (Arbitrary string used to collapse a group of like messages when
 *  the device is offline, so that only the last message gets sent to the client)
 * @global String $config['c2dm']['collapse_key']
 */
$config['c2dm']['collapse_key'] = '';

/**
 * Username
 * @global String $config['c2dm']['username']
 */
$config['c2dm']['username'] = '';

/**
 * Password
 * @global String $config['c2dm']['password']
 */
$config['c2dm']['password'] = '';

/**
 * Path to log-file for logging PUSH errors
 * @global String $config['c2dm']['log']
 */
$config['c2dm']['log'] = '/var/log/httpd';

?>