<?php

/**
 * Path / Location / URL configuration file
 * This config file contains the common path variables, like:
 * <ul>
 * <li>Base URL</li>
 * <li>Protocol</li>
 * <li>Log Paths</li>
 * <li>...</li>
 * </ul>
 *
 * SPDX-FileCopyrightText: Copyright 2010 M2mobi B.V., Amsterdam, The Netherlands
 * SPDX-FileCopyrightText: Copyright 2022 Move Agency Group B.V., Zwolle, The Netherlands
 * SPDX-License-Identifier: MIT
 */

/**
 * The path of the called script (with ending slash)
 * @global string $config['base_path']
 */
$config['base_path'] = '';

/**
 * The protocol used by the request (HTTP|HTTPS)
 * @global string $config['protocol']
 */
$config['protocol'] = '';

/**
 * The fully qualified domain name used for the call
 * @global string $config['base_url']
 */
$config['base_url'] = '';

// Note: This check does not work if one calls php-cgi from the commandline
if (PHP_SAPI === 'cli')
{
    $config['base_path'] = $config['default_webpath'];
    $config['protocol']  = $config['default_protocol'];
    $config['base_url']  = $config['default_url'];
}
else
{
    $config['base_path'] = str_replace('index.php', '', $_SERVER['SCRIPT_NAME']);

    $config['protocol'] = (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] == 'on')
                        ? 'https'
                        : 'http';

    $config['base_url'] = $config['protocol'] . '://' . $_SERVER['SERVER_NAME'];
    //$config['base_url'] .= ":" . $_SERVER['SERVER_PORT'];
    $config['base_url'] .= $config['base_path'];
}


/**
 * Directory containing static files (javascript, css, images, etc)
 * (no leading slash!)
 * @global string $config['path']['statics']
 */
$config['path']['statics'] = 'statics';

/**
 * Array of logfile paths
 * @global array $config['log']
 */
$config['log'] = array();

/**
 * Default path to invalid input logs
 * @global string $config['log']['invalid_input']
 */
$config['log']['invalid_input'] = '/var/log/httpd/';

/**
 * Default path to performance logs
 * @global string $config['log']['performance']
 */
$config['log']['performance'] = '/var/log/httpd/';

/**
 * Default path for cli errors (STDERR)
 * @global string $config['log']['cli']
 */
$config['log']['cli'] = '/var/log/httpd';

?>
