<?php

/**
 * Basic Framework Configuration
 * This config file contains Framework relevant config keys.
 *
 * SPDX-FileCopyrightText: Copyright 2011 M2mobi B.V., Amsterdam, The Netherlands
 * SPDX-FileCopyrightText: Copyright 2022 Move Agency Group B.V., Zwolle, The Netherlands
 * SPDX-License-Identifier: MIT
 */

/**
 * Version of the Lunr Framework to use
 * @global $config['lunr']['version']
 */
$config['lunr']['version'] = "0.1";

/**
 * Array of path definitions
 * @global array $config['path']
 */
$config['path'] = array();

/**
 * Path to the Lunr Framework Code
 * @global string $config['path']['system']
 */
$config['path']['system'] = '/usr/local/share/Lunr-' . $config['lunr']['version'];

/**
 * Scripts controller lookup path
 * @global string $config['path']['controllers']
 */
$config['path']['controllers'] = 'application/controllers/';

/**
 * Whether to enforce the defined protocol for each call
 * (where defined) or not.
 * @global bool $config['protocol_enforce']
 */
$config['protocol_enforce'] = FALSE;

/**
 * Whether to collect SQL query statistics or not.
 * @global bool $config['query_stats']
 */
$config['query_stats'] = FALSE;

/**
 * Default protocol for web queries
 * @global string $config['default_protocol']
 */
$config['default_protocol'] = 'http';

/**
 * Default URL for web queries
 * @global string $config['default_url']
 */
$config['default_url'] = 'http://www.example.org/';

/**
 * Default sub-path for web queries
 * @global string $config['default_webpath']
 */
$config['default_webpath'] = '/';

/**
 * Load local configuration value adjustments, if they exist
 */
$local_lunr_conf = dirname(__FILE__) . '/conf.lunr.local.inc.php';

if (file_exists($local_lunr_conf))
{
    include_once $local_lunr_conf;
}

?>
